<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- 非线程安全servlet配置**********开始，pdf，page:47 -->
    <servlet>
        <servlet-name>UnSafeCnt</servlet-name>
        <servlet-class>com.std.servlet.UnsafeCountingFactorizer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnSafeCnt</servlet-name>
        <url-pattern>/unSafeCnt</url-pattern>
    </servlet-mapping>
    <!-- 非线程安全servlet配置**********结束，pdf，page:47 -->

    <!-- 线程安全servlet配置**********开始，pdf，page:51 -->
    <servlet>
        <servlet-name>SafeCnt</servlet-name>
        <servlet-class>com.std.servlet.CountingFactorizer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SafeCnt</servlet-name>
        <url-pattern>/safeCnt</url-pattern>
    </servlet-mapping>
    <!-- 线程安全servlet配置**********结束，pdf，page:51 -->


</web-app>